doctype
head
	link(type="text/css" rel="stylesheet" href="css/style.css")
	script(src="https://code.jquery.com/jquery-1.12.3.js"   integrity="sha256-1XMpEtA4eKXNNpXcJ1pmMPs8JV+nwLdEqwiJeCQEkyc="   crossorigin="anonymous")
	script(src="js/ajax.js")
html
	body
		div
			h1 test

		.container
			.row
				.col 2 CHAINZ
				.col Kayne West
				.col Jay-Z


		h1#title This is area replaced with AJAX call.
		div.ajaxContainer
			p this is where new content from AJAX will go. HEY oooooo

